.header-container {
  margin-right: auto;
  margin-left: auto;

  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns:  1fr 7fr ;
  gap: 15px;
  padding: 0 15px;
}
// mat-grid-tile {
//   padding: 0 15px;
//   padding-top: 0 !important;
//   margin: 0 ;
//   height: 80px;
// }
.header-container mat-grid-tile.list-iteam {


}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container #nav {
  display: flex;
  align-items: flex-end;
}
.header-container  nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-container  nav > ul > li {
  list-style: none;
}
.header-container nav > ul > li.nav-item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #363636;
  padding: 26px 38.64px;
  display: block;
  width: 100%;
}
.header-container nav > ul > li.nav-item a:hover {
  color: #FFBA34;
}
.header-container nav > ul > li.nav-item a.is-active {
  color: #FFBA34;
}

