<img
  class="volio-contact"
  src="../../../assets/img/contact/banner-contact.png"
  alt="volio-contact"
/>
<div class="contact">
  <div class="container-home contact-section-v1 contact-section">
    <img
      class="volio-team"
      src="../../../assets/img/contact/team-contact.png"
      alt="volio-team"
    />
    <div class="colum-form">
      <h6>Liên hệ với chúng tôi</h6>
      <div class="list-form-contact">
        <form class="form-dialog">
          <mat-form-field class="name-contact" appearance="fill">
            <mat-label>Tên của bạn</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>

          <div class="email-phone">
            <mat-form-field class="phone-contact" appearance="fill">
              <mat-label>Điện thoại </mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>

            <mat-form-field class="email-contact" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="" value="" />
            </mat-form-field>
          </div>

          <mat-form-field class="title-contact" appearance="fill">
            <mat-label>Tiêu đề</mat-label>
            <input matInput placeholder="" value="" />
          </mat-form-field>

          <mat-form-field class="des-contact" appearance="fill">
            <mat-label>Nhập nội dung</mat-label>
            <textarea rows="5" matInput placeholder="" value=""></textarea>
          </mat-form-field>
        </form>
      </div>
      <button mat-stroked-button class="sumbitform" (click)="sumbitForm()">
        Gửi
      </button>
    </div>
  </div>
</div>
