<img
  class="volio-activity-page"
  src="../../../../assets/img/activity/activity-banner.png"
  alt="volio-activity"
/>
<div class="activity">
  <div class="container-home activity-section-v1 activity-section">
    <p class="title-activity">“It’s time to be <span>happy”</span></p>
    <div class="list-content">
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-1.png"
                alt="1"
                title="Happy Friday"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-2.png"
                alt="2"
                title="Happy Friday"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-3.png"
                alt="3"
                title="Happy Friday"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-4.png"
                alt="4"
                title="Happy Friday"
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-2">
        <p>Happy Friday</p>
        <span>
          Thứ 6 vui vẻ được diễn ra vào thứ 6 cuối cùng của quý, vào ngày này
          các Volior sẽ có những món ăn miễn phí siêu ngon vào buổi sáng và một
          buổi hỏi đáp, giải quyết thắc mắc với ban lãnh đạo vào cuối giờ chiều,
          các câu hỏi và đóng góp hay đều sẽ nhận được những phần thưởng có giá
          trị.
        </span>
      </div>
      <div class="item-content item-content-3">
        <p>Trà đá</p>
        <span>
          Mọi Volior đều được khuyến khích mời Sếp hoặc đồng nghiệp đi trà đá
          với mục tiêu giải đáp thắc mắc, bức xúc hay chỉ đơn giản là tâm sự cho
          đỡ buồn. Chúng tôi quan niệm rằng: Bất cứ mọi vấn đề đều có thể tìm ra
          cách giải quyết nếu như chúng ta thẳng thắn nói chuyện về vấn đề đó.
        </span>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-2.png"
                alt="2"
                title="Trà đá"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-3.png"
                alt="3"
                title="Trà đá"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-4.png"
                alt="3"
                title="Trà đá"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-5.png"
                alt="4"
                title="Trà đá"
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-3.png"
                alt="2"
                title="inhouse training"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-4.png"
                alt="3"
                title="inhouse training"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-5.png"
                alt="3"
                title="inhouse training"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-6.png"
                alt="4"
                title="inhouse training"
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-2">
        <p>inhouse training</p>
        <span>
          Những buổi chia sẻ kinh nghiệm chuyên môn cũng như chia sẻ kỹ năng mềm
          được tổ chức hàng tháng với mục tiêu giúp nhân sự không ngừng học hỏi
          và phát triển.
        </span>
      </div>
      <div class="item-content item-content-3">
        <p>Ăn trưa cùng nhau</p>
        <span>
          Toàn thể công ty sẽ ngồi ăn cơm trưa cùng nhau mỗi ngày để trò chuyện,
          tâm sự, giải tỏa căng thẳng sau những giờ làm việc mệt mỏi.
        </span>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-4.png"
                alt="2"
                title="Ăn trưa cùng nhau"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-5.png"
                alt="3"
                title="Ăn trưa cùng nhau"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-6.png"
                alt="3"
                title="Ăn trưa cùng nhau"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-7.png"
                alt="4"
                title="Ăn trưa cùng nhau"
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-5.png"
                alt="2"
                title="Câu lạc bộ chuyên môn"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-6.png"
                alt="3"
                title="Câu lạc bộ chuyên môn"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-7.png"
                alt="3"
                title="Câu lạc bộ chuyên môn"
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-8.png"
                alt="4"
                title="Câu lạc bộ chuyên môn"
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-2">
        <p>Câu lạc bộ chuyên môn</p>
        <span>
          Là nơi tập trung tất cả các Voliors có chung niềm đam mê trong một
          lĩnh vực nào đó như: Âm nhạc, Sách, Board game và thể thao
        </span>
      </div>
      <div class="item-content item-content-3">
        <p>Các sự kiện đặc biệt</p>
        <span>
          Các Volior sẽ được tham dự rất nhiều sự kiện hấp dẫn do công ty tổ
          chức như: Tổ chức sinh nhật, Quốc tế Phụ nữ, Phụ nữ Việt Nam, Lễ Giáng
          Sinh, Year End Party...
        </span>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-6.png"
                alt="2"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-7.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-8.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-1.png"
                alt="4"
                title=""
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-7.png"
                alt="2"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-8.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-1.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-2.png"
                alt="4"
                title=""
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="item-content item-content-2">
        <p>Du lịch & Team Building</p>
        <span>
          Trở thành 1 Volior bạn sẽ có những chuyến đi du lịch trong và ngoài
          nước cũng như tham gia vào những buổi team building đầy niềm vui ít
          nhất 1 lần 1 năm
        </span>
      </div>
      <div class="item-content item-content-3">
        <p>Thể thao</p>
        <span>
          Tại VOLIO chúng tôi luôn đề cao việc giữ gìn sức khỏe cho toàn thể
          nhân viên, chúng tôi thường xuyên có những buổi tập thể dục mỗi khi
          kết thúc ngày làm việc, đá bóng hàng tuần cũng như các giải đấu thể
          thao được tổ chức hàng quý như: Chạy bộ, đá bóng, cầu lông...
        </span>
      </div>
      <div class="item-content item-content-1">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-template class="slide" carouselSlide id="1">
              <img
                src="../../../../assets/img/activity/team-activity-8.png"
                alt="2"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="2">
              <img
                src="../../../../assets/img/activity/team-activity-1.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="3">
              <img
                src="../../../../assets/img/activity/team-activity-2.png"
                alt="3"
                title=""
              />
            </ng-template>
            <ng-template class="slide" carouselSlide id="4">
              <img
                src="../../../../assets/img/activity/team-activity-3.png"
                alt="4"
                title=""
              />
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="logo-team-activity">
  <div class="container-home">
    <img
      src="../../../../assets/img/activity/volio-activity.png"
      alt="volio-activity"
      width="100%"
    />
  </div>
</div>
