<div class="partner">
  <div class="partner-main">
    <h6>Đối tác</h6>
    <!-- <marquee scrollamount="10%"> -->
      <div class="gallery-icon">
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/Rectangle.png"
            alt="partner1"
            draggable="false"
          />
          <p>Admob</p>
        </div>
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/Pt_Meta_Audience_Network.png"
            alt="partner1"
            draggable="false"
          />
          <p>Meta audience<br>
            network</p>
        </div>
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/Rectangle (2).png"
            alt="partner1"
            draggable="false"
          />
          <p>Unity</p>
        </div>
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/Rectangle (1).png"
            alt="partner1"
            draggable="false"
          />
          <p>Adword</p>
        </div>
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/chplay.png"
            alt="partner1"
            draggable="false"
          />
          <p>ironsource</p>
        </div>
        <div class="item-partner">
          <img
            src="../../../../../../assets/img/home/Pt_Apple_Search_Ads.png"
            alt="partner1"
            draggable="false"
          />
          <p>Apple Search Ads</p>
        </div>
      </div>
    <!-- </marquee> -->

  </div>
</div>
