<ng-container>

  <div
   class="footer-container container"
   >

   <div class="footer-logo" >
    <div>
      <img src="../../../../assets/img/home/Frame 28866.png" style="cursor: pointer" width="100%" height="100%"  alt="image"  [routerLink]="['']">
    </div>
   </div>
   <div  class="list-footer item-footer-2 item-footer" >
    <div>
      <nav id="nav-footer">
        <ul id="list-item-footer-1">
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['gioi-thieu']" [routerLinkActive]="['is-active']">Giới thiệu</a></li>
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['san-pham']" [routerLinkActive]="['is-active']">Sản phẩm</a></li>
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['hoat-dong']" [routerLinkActive]="['is-active']">Hoạt động</a></li>
        </ul>
        <ul id="list-item-footer-2">
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['thu-vien']" [routerLinkActive]="['is-active']">Thư viện</a></li>
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['tuyen-dung']" [routerLinkActive]="['is-active']">Tuyển dụng</a></li>
          <li class="nav-item"><a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['lien-he']" [routerLinkActive]="['is-active']">Liên hệ</a></li>
        </ul>
      </nav>
    </div>
   </div>
   <div class="item-footer-3 item-footer" >
     <div>
      <div class="information-footer information">
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            credit_card
            </span>
          <span>MS thuế: 0109618330</span>
        </div>
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            call
            </span>
          <span>+84 961 939 955</span>
        </div>
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            mail
            </span>
          <span>Contact@volio.vn</span>
        </div>
      </div>
      <div class="information-item information">
        <span class="material-symbols-outlined icon-footer">
          pin_drop
          </span>
        <span>Trụ sở chính: Tầng 4, Toà Nhà Số 32, Ngõ 12, Khuất Duy Tiến, Thanh Xuân, Hà Nội.</span>
      </div>
      <div class="information-item information">
        <span class="material-symbols-outlined icon-footer">
          pin_drop
          </span>
        <span>Văn phòng: Stellar Garden, 35 Lê Văn Thiêm, Thanh Xuân, Hà Nội</span>
      </div>
     </div>

   </div>
   <div class="item-footer-4 item-footer" >
    <div>
      <iframe
       src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ffacebook.com%2Fvolio.vn%2F&tabs=timeline&width=292&height=132&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        width="292" height="132" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>

  </div>
</ng-container>
