.footer-container {

  padding: 45px 15px;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns:  2fr 2fr 4fr 2fr ;
  gap: 15px;
}
/* .footer-container .item-footer-1, .footer-container .item-footer-2, .footer-container .item-footer-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  display: contents;
}
.footer-container .item-footer-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  display: contents;
} */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .list-footer{
  display: block;
  width: 100%;
  border-right: 1px solid rgba(54, 54, 54 , 0.2);
  border-left: 1px solid rgba(54, 54, 54 , 0.2);
}
.footer-container nav#nav-footer ul{
  display: inline-block;
}
.footer-container nav#nav-footer ul li a{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #363636;
}
.footer-container nav#nav-footer ul li a.is-active{
  color: #FFBA34;
}
.footer-container nav#nav-footer ul li a:hover {
  color: #FFBA34;
}
.footer-container nav#nav-footer ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer-container .information:not(:last-child) {
  margin-bottom: 20px;
}
.footer-container  .information-footer {
  display: flex;
  align-items: center;

}
.footer-container  .information-item {
  display: flex;
  line-height: 24px;
}
.footer-container  .information-item nb-icon {
  margin-right: 10px;
}
.footer-container  .information-footer .information-item-list:not(:last-child) {
 margin-right: 30px;
}
nb-icon {
  width: 24px;
  height: 24px;
}
