.leader {
  position: relative;
  background-image: url("../../../../../../assets/img/introduce/bgr_v3.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  .leader-section {
    padding-top: 70px;
    margin-top: 30px;
    padding-bottom: 230px;
    .list-leader {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
    }
  }

}
