<div class="leader">
  <div class=" container-home leader-section">
    <div class="list-leader">
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/CEO.png"  width="292px" height="400px"/>
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_01.png" width="292px" height="400px" />
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_02.png"  width="292px" height="400px" />
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_03.png"  width="292px" height="400px"/>
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_04.png"  width="292px" height="400px"/>
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_05.png"  width="292px" height="400px"/>
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_02.png"  width="292px" height="400px"/>
      </div>
      <div class="item-leader">
        <img src="../../../../../../assets/img/introduce/Team_leader_card_04.png"  width="292px" height="400px"/>
      </div>
    </div>
  </div>
</div>
