<img class="volio-team" src="../../../../assets/img/introduce/img_introduce.png" alt="volio-team" />
<div class="logo-introduce"><img src="../../../../assets/img/introduce/Logo_introduce.png" alt="logo"></div>
<div class=" container-home introduce-section-v1 introduce-section">
  <div class="line-straight-introduce"></div>
  <div class="content-introduce-2 update">
    <h6>Quá trình hình thành và phát triển</h6>
  </div>
</div>

<app-time-line></app-time-line>
<div class=" container-home introduce-section-v2 introduce-section section-5t">
  <div class="line-straight-introduce"></div>
  <div class="content-introduce-2">
    <h6>Giá trị cốt lõi 5T</h6>
  </div>
  <div class="list-5t list-5t-v1">
    <div class="item-5t">
      <img src="../../../../assets/img/introduce/img_5T_meadal_1.png" alt="5t-1" />
      <p>Luôn trung thực với đồng nghiệp cũng như đối tác, không có hành vi lừa dối dù chỉ là trong suy nghĩ</p>
    </div>
    <div class="item-5t">
      <img src="../../../../assets/img/introduce/img_5T_medal_2.png" alt="5t-2" />
      <p>Chúng tôi luôn tìm kiếm những nhân sự có cùng chí hướng mong muốn cống hiến và đóng góp cho sự phát triển của công ty trong thời gian dài</p>
    </div>
    <div class="item-5t">
      <img src="../../../../assets/img/introduce/img_5T_medal_3.png" alt="5t-3" />
      <p>Chúng tôi nỗ lực phát triển doanh nghiệp dựa trên cam kết có trách nhiệm với toàn bộ nhân sự, toàn bộ đối tác và toàn thể xã hội.</p>
    </div>


  </div>
  <div class="list-5t list-5t-v2">
    <div class="item-5t">
      <img src="../../../../assets/img/introduce/img_5T_medal_4.png" alt="5t-4" />
      <p>Thẳng thắn từ trong suy nghĩ tới lời nói, không sợ mất lòng người khác kể cả đối với cấp trên của mình</p>
    </div>
    <div class="item-5t">
      <img src="../../../../assets/img/introduce/img_5T_medal_5.png" alt="5t-5" />
      <p>Chúng tôi luôn đề cao những hướng đi và quyết định thách thức khả năng cũng như sự hiểu biết để có thể phát triển ngày càng mạnh mẽ hơn nữa</p>
    </div>
  </div>
  <img src="../../../../assets/img/introduce/bgr_v1.png" alt="bgr-v1" />
  <div class="content-introduce-2">
    <h6>Văn hóa 3C</h6>

  </div>
  <div class="list-3c ">
    <div class="item-3c">
      <img src="../../../../assets/img/introduce/img_3C_medal_1.png" alt="5t-1" />
      <p>Luôn trung thực với đồng nghiệp cũng như đối tác, không có hành vi lừa dối dù chỉ là trong suy nghĩ</p>
    </div>
    <div class="item-3c">
      <img src="../../../../assets/img/introduce/img_3C_medal_2.png" alt="5t-2" />
      <p>Chúng tôi luôn tìm kiếm những nhân sự có cùng chí hướng mong muốn cống hiến và đóng góp cho sự phát triển của công ty trong thời gian dài</p>
    </div>
    <div class="item-3c">
      <img src="../../../../assets/img/introduce/img_3C_medal_3.png" alt="5t-3" />
      <p>Chúng tôi nỗ lực phát triển doanh nghiệp dựa trên cam kết có trách nhiệm với toàn bộ nhân sự, toàn bộ đối tác và toàn thể xã hội.</p>
    </div>
  </div>

  <div class="img-banner">
    <img src="../../../../assets/img/introduce/banner-introduce.png" alt="banner" >
  </div>
  <div class="line-straight-introduce"></div>
  <div class="content-introduce-2">
    <h6>Định hướng phát triển</h6>
  </div>
  <app-orientation></app-orientation>
  <div class="line-straight-introduce"></div>
  <div class="content-introduce-2">
    <h6>Ban điều hành</h6>
  </div>

</div>
<app-leader></app-leader>

