<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <!-- <nb-layout> -->
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
      <body>
        <header>
          <app-header></app-header>
        </header>
        <main>
          <app-content></app-content>
        </main>
        <footer>
          <app-footer></app-footer>
        </footer>
    
      </body>
      </html>
    
    
    
    <!-- </nb-layout> -->
    
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
