<img class="volio-recruit" src="../../../../assets/img/recruit/banner-recuit.png" alt="volio-recruit" />
<div class="recruit">
  <div class="container-home recruit-section-v1 recruit-section">
    <img src="../../../../assets/img/Group 28523.png" width="auto"  />
    <p class="title-recruit">Tại sao bạn nên trở thành 1 Volior?</p>
    <p class="des-recruit">VOLIO VIETNAM là công ty công nghệ chuyên phát triển ứng dụng và trò chơi cho thiết bị di động trên 2 nền tảng chính là Android và iOS.
      Sau 2 năm hoạt động, VOLIO đã đạt mốc 50 triệu lượt tải với nhiều ứng dụng đạt TOP 1 trên thị trường Việt Nam cũng như thế giới.</p>
      <img class="image-bgr" src="../../../../assets/img/recruit/image-bgr.png"  />


  </div>
  <div class="bgr-sup">
    <img src="../../../../assets/img/recruit/bgr-sup.png" alt="bgr-v1" />
  </div>
  <!-- <div class="search-">
    <div class="list-select-search">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
    </div>
  </div> -->
</div>
