<div class="timeline-section">
  <div class="container-home timeline-section-v1">
    <div class="wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="timeline" id="timeline">
            <div class="li complete">
              <div class="timestamp"></div>

              <div class="status">
                <div class="border-content">
                  <div class="content">
                    <h4>Tháng 02/2020</h4>
                    <p>
                      Thành lập đội game tập trung phát triển các game Hyper
                      casual và Puzzle
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="timeline" id="timeline">
            <div class="li complete">
              <div class="timestamp"></div>
              <div class="status">
                <div class="border-content">
                  <div class="content">
                    <h4>Tháng 02/2020</h4>
                    <p>
                      Thành lập đội game tập trung phát triển các game Hyper
                      casual và Puzzle
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="timeline" id="timeline">
            <div class="li complete">
              <div class="timestamp"></div>
              <div class="status">
                <div class="border-content">
                  <div class="content">
                    <h4>Tháng 01/2021</h4>
                    <p>Đạt cột mốc 50 triệu lượt tải và 25 nhân sự</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="timeline" id="timeline">
            <div class="li complete">
              <div class="timestamp"></div>
              <div class="status">
                <div class="border-content">
                  <div class="content">
                    <h4>Tháng 02/2022</h4>
                    <p>
                      Đạt 100 triệu lượt tải và hơn 250K lượt tải xuống mỗi ngày
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="timeline" id="timeline">
            <div class="li complete">
              <div class="timestamp"></div>
              <div class="status">
                <div class="border-content">
                  <div class="bgr-content">
                    <div class="content">
                      <h4>Tháng 02/2022</h4>
                      <p>
                        Hơn 50 nhân sự phát triển trên các lĩnh vực mobile app,
                        mobile game, SaaS
                      </p>
                    </div>
                    <div class="item-border"></div>
                  </div>
                  <div class="after-border">
                    <div class="item-border"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

</div>
