<img
  class="volio-product-page"
  src="../../../../assets/img/product/img_header_banner_product.jpg"
  alt="volio-product"
/>
<div class="product">
  <div class="container-home product-section-v1 product-section">
    <div class="list-tabs">
      <div class="item-tab tablink active" (click)="openTab($event, 'Tab_v1')">
        <span class="material-symbols-outlined"> apps </span>
        <p class="" >Ứng Dụng Di Động</p>
      </div>
      <div class="item-tab tablink" (click)="openTab($event, 'Tab_v2')">
        <span class="material-symbols-outlined"> stadia_controller </span>
        <p class="" >Trò Chơi Di Động</p>
      </div>
      <div class="item-tab tablink" (click)="openTab($event, 'Tab_v3')">
        <span class="material-symbols-outlined"> forms_add_on </span>
        <p class="" >Các Lĩnh Vực Khác</p>
      </div>
    </div>

    <div id="Tab_v1" class="itemContent">
      <p class="des-app">
        Với mục tiêu phát triển các ứng dụng điện thoại đa lĩnh vực, dưới đây là
        những sản phẩm tiêu biểu của VOLIO Việt Nam.
      </p>
      <div class="list-app">
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-1.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-2.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-3.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-4.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-5.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-6.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-product">
        <img
          class="volio-product"
          src="../../../../assets/img/product/img_banner_product.jpg"
          alt="volio-product"
        />
      </div>
    </div>

    <div id="Tab_v2" class="itemContent" style="display: none">
      <p class="des-app">
        Nắm bắt được xu thế đang phát triển rất mạnh hiện nay của ngành game ở Việt Nam cũng như trên toàn thế giới.
         VOLIO đã thành lập Jacat Games Studio trực thuộc công ty để chuyên phát triển các trò chơi trên di động.
      </p>
      <div class="list-app">
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-1.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-2.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-3.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-4.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-5.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="item-app">
          <img src="../../../../assets/img/product/banner-product-6.png" />
          <div class="list-content-item">
            <p class="name-app">Tên ứng dụng</p>
            <p class="item-des-app">
              Đoạn text mô tả ngắn ít hơn 80 ký tự, giới thiệu về tính năng
              chính của ứng dụng
            </p>
            <div class="list-down">
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/googleplay.png"
                /></a>
              </div>
              <div class="item-down">
                <a href="#"
                  ><img src="../../../../assets/img/product/appstore.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-product">
        <img
          class="volio-product"
          src="../../../../assets/img/product/img_product_mobilegame-2.png"
          alt="volio-product"
        />
      </div>
    </div>

    <div id="Tab_v3" class="itemContent" style="display: none">
      <p class="title-other">
        Business Solutions
      </p>
      <div class="list-content">
        <div class="item-content item-content-1">
          <img src="../../../../assets/img/product/banner-product-9.png" width="100%" />
        </div>
        <div class="item-content item-content-2">
          <p>Hệ thống quảng cáo chéo Go-Cross</p>
          <span>
            Hệ thống quảng cáo chéo Go - Cross: Cung cấp các không gian quảng cáo trên mobile app giúp người dùng có thể tiếp cận đến nhiều khách hàng với cách tích hợp vô cùng đơn giản và chi phí thấp nhất
          </span>
          <ul>
            <li>Hệ thống quảng cáo với định dạng phong phú và đẹp mắt.</li>
            <li>Hệ thống báo cáo chuyên nghiệp với bộ chỉ số chính xác và hiệu quả sẽ giúp bạn tiết kiệm được một khoản chi phí khổng lồ.</li>
            <li>Dễ dàng kiểm tra và thay đổi kịch bản, nội dung cũng như tần suất của quảng cáo với hệ thống GO – CROSS.</li>
            <li>Hỗ trợ 24/7 với đội ngũ dày dặn kinh nghiệm hiểu biết rõ chính sách và các điều khoản từ phía Google Play cũng như App Store.</li>
          </ul>
        </div>
         <div class="item-content item-content-3">
          <p>Hệ thống APK upload</p>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
             lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,
            vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
             fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa
             vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis
             nunc sed augue lacus, viverra vitae congue eu
          </span>
        </div>
        <div class="item-content item-content-4">
          <img src="../../../../assets/img/product/banner-product-10.png"  width="100%"/>
        </div>
        <div class="item-content item-content-5">
          <img src="../../../../assets/img/product/banner-product-11.png"  width="100%"/>
        </div>
        <div class="item-content item-content-6">
          <p>Hệ thống Policy generator</p>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis,
             lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo,
            vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque
             fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa
             vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis
             nunc sed augue lacus, viverra vitae congue eu
          </span>

        </div>
      </div>


      <div class="line-straight-introduce"></div>

      <div class="tab-3-footer">
        <p class="title-de">
          Dropshiping POD (print on demand)
        </p>
        <span class="des-de">
          Đoạn text mô tả, giới thiệu về POD. Đoạn text mô tả, giới thiệu về POD.
          Đoạn text mô tả, giới thiệu về POD. Đoạn text mô tả, giới thiệu về POD.
          Đoạn text mô tả, giới thiệu về POD. Đoạn text mô tả, giới thiệu về POD.
          Đoạn text mô tả, giới thiệu về POD.
        </span>
        <img src="../../../../assets/img/product/banner-product-12.png" width="100%" />
      </div>


    </div>


  </div>
</div>
