<div class="container-home post-section-v1 post-section">
  <h2>iOS and Android SENIOR mobile app developer</h2>
  <div class="content">
    <div class="describe">
      <div class="list-describe">
        <p>Mô tả công việc</p>
        <ul>
          <li>
            Phát triển ứng dụng di động trên Android về các mảng: Chỉnh sửa hình
            ảnh, âm thanh, video, ứng dụng sức khỏe, ứng dụng giáo dục (ebook
            cho trẻ em), các ứng dụng tiện ích.
          </li>
          <li>Phát triển các thư viện Android.</li>
          <li>Xây dựng hệ thống quảng cáo riêng.</li>
        </ul>
      </div>
      <div class="list-describe">
        <p>Yêu cầu công việc</p>
        <ul>
          <li>
            Có kinh nghiệm tối thiểu 2 năm trong lĩnh vực Android (Java/
            Kotlin).
          </li>
          <li>Nắm được các quy trình cơ bản trong phát triển phần mềm.</li>
          <li>Nắm vững một số kiến trúc hệ thống căn bản, Design Pattern.</li>
          <li>
            Đã từng xử lý Api, openCV, Database, Firebase (FCM, Remote Config,
            Crashlytics).
          </li>
          <li>Có khả năng viết webservice là lợi thế.</li>
        </ul>
      </div>
      <div class="list-describe list-describe-v1">
        <p>Quyền lợi</p>
        <ul>
          <li>
            Lương: 600$ – 1000$ (net). Thưởng theo tháng, quý và cuối năm.
          </li>
          <li>
            Làm việc 5 ngày trên tuần, 7h/ngày (8h30 – 17h, từ thứ 2 – thứ 6),
            Không OT.
          </li>
          <li>
            Review xét duyệt tăng lương 2 lần/năm hoặc bất cứ khi nào nhân viên
            cảm thấy có nhu cầu.
          </li>
          <li>
            Miễn phí đồ uống bao gồm: Trà, cà phê, hoa quả, chè, bánh kẹo tại
            phòng ăn của công ty.
          </li>
          <li>
            Sử dụng miễn phí mọi loại sách giá trị tại thư viện của công ty.
          </li>
          <li>Hỗ trợ phòng ngủ trưa cho nhân viên.</li>
          <li>Hỗ trợ vé bể bơi 4 mùa ngay tại sảnh dưới của công ty.</li>
          <li>
            Trang thiết bị hiện đại, sẵn sàng phục vụ nhân viên mọi lúc mọi nơi.
          </li>
          <li>Du lịch tối thiểu 1 lần/ năm.</li>
        </ul>
      </div>
      <div class="list-information">
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            call
            </span>
          <span>+84 961 939 955</span>
        </div>
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            mail
            </span>
          <span>Tuyendung@volio.vn</span>
        </div>
        <div class="information-item information-item-list">
          <img src="../../../../../assets/img/library/icon-fb.png" alt="" />
          <span>Facebook.com/volio.vn</span>
        </div>
        <div class="information-item information-item-list">
          <span class="material-symbols-outlined icon-footer">
            pin_drop
            </span>
          <span
            >Tầng 4, Số 32, Ngõ 12, Khuất Duy Tiến, Thanh Xuân Trung, Thanh
            Xuân, Hà Nội
          </span>
        </div>
      </div>
    </div>
    <div class="active-file">
      <div class="information-number">
        <p class="title">Số lượng tuyển:</p>
        <span>01</span>
      </div>
      <div class="information-number">
        <p class="title">Số lượng tuyển:</p>
        <span>01</span>
      </div>
      <div class="information-number">
        <p class="title">Kinh nghiệm:</p>
        <span>1 - 3 năm</span>
      </div>
      <div class="information-number">
        <p class="title">Mức lương:</p>
        <span>10 - 20 triệu</span>
      </div>
      <div class="information-number">
        <p class="title">Thời gian làm việc:</p>
        <span>Từ T2 - T6, 8:30 - 17:30</span>
      </div>
      <div class="information-number">
        <p class="title">Ngày đăng tuyển:</p>
        <span>20/03/2021</span>
      </div>
      <div class="information-number">
        <p class="title">Hạn nộp hồ sơ:</p>
        <span>31/05/2021</span>
      </div>
      <button mat-stroked-button (click)="openDialog()">Nộp hồ sơ</button>
    </div>
  </div>

  <div class="testimonial">
    <figure class="snip1139">
      <img src="../../../../../assets/img/recruit/man.png" />
      <div class="CEO">
        <blockquote>
          “Một người sáng tạo luôn bị thôi thúc bởi khát vọng của sự thành công,
          chứ không phải khát vọng đánh bại người khác”
          <p>Lương Trung Vương, Marketing Manager</p>
        </blockquote>
      </div>
    </figure>
  </div>
</div>
