$color_main: #f2c94c;
$color_text: #363636;
$space_desktop: 100px;

.volio-library {
  width: 100%;
}
.library-section {
  margin-top: $space_desktop;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  // max-width: 1200px;
  // margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */


/* container-library around content */
// .container-library {
//   padding: 10px 40px;
//   position: relative;
//   background-color: inherit;
//   width: auto;
//   display: inline-block;
//   top: 0px;
//   left: 90px;
//   .content {
//     p {
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 28px;
//       color: #fff;
//       padding: 6px 12px;
//       background-color: $color_text;
//       border-radius: 6px;
//       display: inline-block;
//       transition: all 0.4s ease-out;
//     }
//     ul {
//       // display: none;
//       // opacity: 0;
//       margin: 0;
//       padding: 10px 0 0px 20px;
//       transition: all 0.4s ease-out;
//       &:not(#list-time-0) {
//         display: none;
//       }
//       li {
//         padding: 20px 0;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 28px;
//         &:last-child {
//           padding-bottom: 10px;
//         }
//       }
//     }
//     &.active {
//       p {
//         background-color: $color_main;
//       }
//     }
//   }
// }

/* The circles on the timeline */
 .content::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 35px;
  background-color: $color_text;
  border: 4px solid $color_text;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container-library to the left */
.left {
  left: 0;
}

/* Place the container-library to the right */
.right {
  left: 90px;
}

/* Add arrows to the left container-library (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid $color_main;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $color_main;
}

/* Add arrows to the right container-library (pointing left) */
.content::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  left: 70px;
  border: medium solid $color_text;
  border-width: 10px 10px 10px 0;
  border-color: transparent $color_text transparent transparent;
  transition: all 0.4s ease-out;
}


/* Fix the circle for container-librarys on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  position: relative;
  text-align: center;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width container-librarys */
  .container-library {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-library::before {
    left: 60px;
    border: medium solid $color_main;
    border-width: 10px 10px 10px 0;
    border-color: transparent $color_main transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right container-librarys behave like the left ones */
  .right {
    left: 0%;
  }
}
.scroll-time {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 18%;
  left: 5%;
}

/* <!-- second slider -->  */
// .carousel-images {
//   padding: .3em .3em 0;
//   background: rgb(240,240,240);
//   text-align: center;
// }
.carousel-images .videoOpen {
  position: relative;
  padding-top: 56.25%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.carousel-images iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.carousel-images {
  margin-bottom: $space_desktop;
  p.date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  p.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  span.des {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  a {
    position: relative;
    display: inline-block;

    text-decoration: none;
    img {
      width: 120px;
      height: 90px;
      border-radius: 8px;
    }
  }
}

// .carousel-images a:visited,
// .carousel-images a:nth-of-type(1) {
//   border-color: #555;  /* рамка вокруг миниатюр просмотренных видео */
// }
.carousel-images a:hover {
  opacity: 1;
}
.carousel-images a:not(:active):focus {
  pointer-events: none;
}
.carousel-images a::before {
  content: "";
  position: absolute;
  top: 0em;
  right: 0em;
  bottom: 0em;
  left: 0em;
  background: rgba(255, 255, 254, 0.7);
  transition: background 0s 9999999s;
}
.carousel-images a:nth-of-type(1)::before {
  background: unset;
}
.carousel-images span:active a::before {
  background: rgba(0, 0, 0, 0);
  transition: background 0s;
}
.carousel-images span:active a:active::before {
  background: rgba(255, 255, 255, 0.7);
  transition: background 0s;
}
.carousel-images img {
  max-width: 100%;
  vertical-align: middle; /* убрать нижний отступ до рамки под картинкой */
}

#expandedImg {
  margin: 40px 0;
}



article {
  position: relative;
  margin-top: $space_desktop;
}
nav::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: $color_main;
  top: 0;
  bottom: 0;
  left: 49px;
  margin-left: -3px;
  height: 470px;
}

.timeline {
  &__nav {
    position: fixed;
    z-index: 99;
    top: 0;
    transition: top 0.3s ease-out;
    left: 130px;
  //   max-height: 300px;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // width: 100%;
  // padding-left: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 250px;
  width: 160px;

    ul {
      list-style: none;
      list-style-position: inside;
      margin: 15px 0;
      padding: 0;
      transition: all 0.4s ease-out;
      left: 57px;
      position: relative;

      li {
        padding-left: 15px ;
        cursor: pointer;
        transition: all 0.3s ease-out;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        text-align: left;
        span {
          line-height: 45px;
          display: block;
        }
        &.active {
          font-weight: bold;
          color: $color_main;
          border-bottom: 1px dotted transparent;
          transform: scale(1.2);
        }

        &:hover {
          color: #000;
        }
      }
    }
  }
}
.timeline__nav {
  &:not(.fixed) {
    margin-top: 300px;
  }
  transition: all 0.4s ease-out;
  .content {
    &:not(:first-child) {
      margin-top: 30px;
      ul {
        display: none;
      }
    }
    &.active-item-year {
      &::after {
        background-color: $color_main;
        border: 4px solid #ff9f55;
      }
      &::before {
        border: medium solid $color_main;
        border-color: transparent $color_main transparent transparent;
        border-width: 10px 10px 10px 0;
      }
      p {
        background-color: $color_main;
      }
    }

    .year-timeline {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;

      color: #fff;
      padding: 6px 12px;
      background-color: $color_text;
      border-radius: 6px;
      display: inline-block;
      transition: all 0.4s ease-out;
      margin-left: 62px;
    }
  }


}
@media only screen and (max-width: 1440px) {
  .timeline.container-home {
    max-width: 768px !important;
  }
}
::-webkit-scrollbar-thumb {
  background: $color_main;
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}